
:host {
    width: 100%;
}

.bodyParentDiv .mainDiv{
    position: relative;
}

.mainDiv{
    width: 100%;
}
.upperDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.elementDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-div{
    // margin-right: 10%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
    z-index: -1;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome-text{
    font-size:xx-large;
}

.element{
    margin: 1em;
    width: 300px; /* Set a fixed width for the element */
    height: 150px; 
    border-radius: 12px;
    background-color: var(--surface-card);
    padding: 10px;
    display: flex; /* Add this to enable centering */
    justify-content: center; /* Horizontal centering */
    align-items: center;
    // flex-direction: column; /* Stack label text vertically */

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08) !important;
}

.element label{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowing text */
  }

@media only screen and (max-width: 600px) {
    .elementDiv{
        flex-direction: column;
    }
    .element{
        background-color: var(--surface-card), 0.5;

    }
    .right-div{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}