    <div class="col-12 flex flex-column align-items-center bodyParentDiv">
        <div class="flex w-10 parentDiv">
            <div class="mainDiv">
                <h4  style="font-size: x-large;">Microservices Ready</h4>
                <div class="upperDiv">
                    <div class="elementDiv">
                        <div class="element">
                            <label>Users</label>
                        </div>
                        <div class="element">
                            <label>ArrayList</label>
                        </div>
                        <div class="element">
                            <label>ArrayList</label>
                        </div>
                        <div class="element">
                            <label>SJHFSJFHJ SHJDHSKFJHSFJKH SFJKSFHSJFHSKF</label>
                        </div>
                            <!-- ~cb-add-services-card~  -->
                    </div>
                    <div class="right-div">
                        <div class="flexColumn">
                            <img [src]="welcomeImg" alt="welcome" class="h-30rem" />
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <p class="welcome-text" >
                                    Welcome!
                                </p>
                                <p>You are ready to go!</p>
                            </div>
                        </div>
                    </div>
                </div>
   
            </div>
            

        </div>
        <div class="card w-10 my-6">
            <h4>REST API Ready</h4>
            <div class="m-0" style="text-decoration: underline;">e.g. Authentication</div>
            <div>POST http://localhost:3030/authentication  "email": "example@email.com",    "password": "123456" </div>
            <br>
            <div class="m-0" style="text-decoration: underline;">e.g. CRUD</div>
            <div class="m-0">
                GET => GET http://localhost:3030/users/userId
            </div>
            <div class="m-0">
                CREATE => POST http://localhost:3030/users  "email": "example2@email.com",    "password": "456789" 
            </div>
            <div class="m-0">
                PATCH => PATCH http://localhost:3030/users/userId "name": "Thomas Smith" 
            </div>
            <div class="m-0">
                DELETE => DELETE http://localhost:3030/users/userId
            </div>
        </div>
    </div>

  
 
